

.unit{
    font-size: 20px;

}

.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: blue;
    text-decoration: line-through;
    text-indent: 20px;
    line-height: 50px;
    margin: 2em;
    padding: 2em;
}



